@model Stations.Station

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastActiveAtUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastActiveAtUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DecommissionAtUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DecommissionAtUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirmwareVersion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirmwareVersion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedLocation.Annotation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LatestLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LatestLocation.Annotation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Module.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StationType.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
